<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include header.ejs %>
    <!-- table -->
    <section class="mt-5">
      <div class="container">
        <br />
        <h3>Supplies Table</h3>
        <hr />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Packet Id</th>
              <th>Packet Type</th>
              <th>Packet Content</th>
              <th>Calories</th>
              <th>Expiry Date</th>
              <th>Qty In Litres</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>W2</td>
              <td>hj</td>
              <td>chips</td>
              <td>1500</td>
              <td>12/5/888</td>
              <td>2</td>
              <td><a href="" class="btn btn-danger btn-sm">Delete</a></td>
            </tr> -->
            <% for(var i = 0; i < supplies.length; i++){ %>
            <tr>
              <td><%= supplies[i].packetId %></td>
              <% if(supplies[i].packetType === 'food'){ %>
              <td>Food</td>
              <% } else if (supplies[i].packetType == 'water') { %>
              <td>Water</td>
              <% } %>

              <td><%= supplies[i].packetContent %></td>
              <td><%= supplies[i].calories %></td>
              <td><%= supplies[i].expiryDate %></td>
              <td><%= supplies[i].quantityInLiters %></td>
              <td>
                <a
                  href="javascript:deleteSuppliesPacket('<%=supplies[i]._id %>')"
                  class="btn btn-danger"
                  >Delete</a
                >
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- table end -->

      <!-- Modal for FOOD -->
      <div class="modal fade" id="addFood" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-center">Add Food</h4>
              <button
                type="button w-100"
                class="close"
                data-dismiss="modal"
              ></button>
            </div>
            <div class="modal-body">
              <form action="/food" method="post" id="foodForm">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="packetId">Packet Id</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="packetId"
                        placeholder="Packet Id"
                        name="packetId"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="packetContent">Packet Content</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="packetContent"
                        placeholder="Packet Content"
                        name="packetContent"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="expiryDate">Expiry Date</label>
                      <input
                        required
                        type="date"
                        class="form-control"
                        id="expiryDate"
                        placeholder="Enter Date"
                        name="expiryDate"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="calories">Calories</label>
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="calories"
                        placeholder="Calories"
                        name="calories"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success"
                onclick="submitFoodPacket()"
              >
                Add Food Packet
              </button>
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal for WATER -->
      <div class="modal fade" id="addWater" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100">Add Water</h4>
              <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <form action="/water" method="post" id="waterForm">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="packetId">Packet Id</label>
                      <input
                        type="text"
                        class="form-control"
                        id="packetId"
                        placeholder="Packet Id"
                        name="packetId"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for=" quantityInLiters">Qty In Litres</label>
                      <input
                        type="number"
                        class="form-control"
                        id=" quantityInLiters"
                        placeholder="Quantity In Liters"
                        name="quantityInLiters"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success"
                onclick="submitWaterPacket()"
              >
                Add Water Packet
              </button>
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h3>Schedule Table</h3>
        <hr />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Schedule Date</th>
              <th>Packet Id</th>
              <th>Packet Type</th>
              <th>Packet Content</th>
              <th>Calories</th>
              <th>Expiry Date</th>
              <th>Qty In Litres</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < output.length; i++){ %> <% for(var j = 0; j <
            output[i].waters.length; j++){ %>
            <tr>
              <% if( j==0) {%>
              <td
                rowspan="<%= output[i].foods.length + output[i].waters.length %>"
                class="text-center"
              >
                <%= output[i].date %>
              </td>
              <% } %>
              <td><%= output[i].waters[j].packetId %></td>
              <td>Water</td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= output[i].waters[j].quantityInLiters %></td>
            </tr>
            <% } %> <% for(var j = 0; j < output[i].foods.length; j++){ %>
            <tr>
              <td><%= output[i].foods[j].packetId %></td>
              <td>Food</td>
              <td><%= output[i].foods[j].packetContent %></td>
              <td><%= output[i].foods[j].calories %></td>
              <td><%= output[i].foods[j].expiryDate %></td>
              <td>-</td>
            </tr>
            <% } %> <% } %>
          </tbody>
        </table>
        <br />
        <h2>
          Number of days you can survive with current inventory : <%=
          output.length %>
        </h2>
        <br />
      </div>
    </section>
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
  crossorigin="anonymous"
></script>
<script>
  function openAddFood() {
    $("#addFood").modal("show");
  }
  function openAddWater() {
    $("#addWater").modal("show");
  }
  function submitFoodPacket() {
    $("#foodForm").submit();
  }
  function submitWaterPacket() {
    $("#waterForm").submit();
  }
  function deleteSuppliesPacket(packetId) {
    if (confirm("Are you sure you want to delete?")) {
      window.location.href = "/packetDelete/" + packetId;
    }
  }
</script>
